ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.monthName {
    border: 1px solid black;
    width: 50vw;
    text-align: center;
    background-color: #851f1f;
    color: white;
}

.weekdaysHeader {
    border: 1px solid black;
    width: 50vw;
    text-align: center;
    background-color: #851f1f;
    color: white;
}

.daysTable {
    border: 2px solid #964444;
    width: 50vw;
    text-align: center;
    background-color: #ff8585;
}

.daysData {
    border: 1px solid black;
}


.outOfMonth {
    color: #ffb5b5;
}

.inMonth {
    color: #ffffff;
    transition-duration: 0.2s;
}

.inMonth:hover {
    border: #283860;
    font-size: 15px;
    background: #851f1f;
    color: #ffffff;
    cursor: cell;
    transition-duration: 0.5s;
    border-radius: 50%;
}

.employeeTable {
    border: 2px solid #964444;
    width: 50vw;
    background-color: #283860;
}

.employeeImage {
    border-radius: 5%;
    width: 20%;
}

.employeeName{
    text-align: center;
    color: #ff8585;
}

.employeeTd {
    width: 25vw;
}